<div class="wrapper container-login100" style="background-image: url('assets/bg-01.jpg');">
  <mat-card class="card-wrapper">
    <div class="img-container">
      <img src="assets/icons/qlogo.png" height="100" width="150">
    </div>
    <form class="example-form" [formGroup]="myForm" (ngSubmit)="signIn()">
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary" class="login-button" type="submit">Login</button>
    </form>
  </mat-card>
</div>
